@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Anton", sans-serif;
}
#home {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0,0.3)), url('Assets/Backgrounds/bg.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    height: 100vh;
}
header {
    padding: 1.5vh 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    display: flex;
}
header img {
    height: 10vh;
}
header nav li, header nav li a{
    font-size: 2vh;
    font-family: "Poppins", sans-serif;
    margin: 0 1.5vh;
    list-style: none;
    text-decoration: none;
    color: #000000;
    transition: 0.2s ease;
}
header a:hover {
    color:#ffffff;
}

.welcome-div {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 35vw;
    margin: 5vw;
    align-self: flex-end;
    position: relative;
    animation: rtol_welcome-div 1.2s forwards;
}
@keyframes rtol_welcome-div {
    0%{
        left: 100vw;
        opacity: 0%;
    }
    100% {
        left: 0vw;
        opacity: 100%;
    }
}
.welcome-div h1 {
    line-height: 12vh;
    padding: 0;
    margin: 0;
    font-size: 12vh;
    color: #631B1E;
}
.welcome-div p {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 2.5vh;
}
.welcome-div span {
    color: #000000;
    font-weight: bold;
}
.welcome-div a {
    display: flex;
    padding: 0;
    margin: 0;
    align-self: center;
}
#shop-btn {
    margin: 8vh 0 0 3vw;
    font-size: 2.5vh;
    padding: 1vh 2vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    transition: 0.2s ease-in;
}
#shop-btn:hover {
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0.7vh;
}
#collections {
    display: flex;
    margin: 10vw 8vw 8vw 8vw;
    transform: translateX(-2vw);
}
#collections h1 {
    margin: 0;
    font-size: 8vh;
    writing-mode: vertical-rl;
    transform: rotate(180deg) translateY(33vh) translateX(-0.5vw);
}
.collections-parent-div {
    display: grid;
    gap: 0.3vw;
    grid-template-columns: 35vw 20vw 20vw;
    grid-template-rows: repeat(2, 35vh);
    padding: 0;
}
.collections-parent-div a {
    display: flex;
    background-size: 125%;
    justify-content: end;
    align-items: end;
    transition: background-size 3s ease-in;
    background-position: center;
}
.collections-parent-div a:hover {
    background-size: 140%;
}
.collections-parent-div a h2{
    color: #ffffff;
    margin: 2vw;
    font-size: 4vh;
}
.jacket-div {
    grid-row: span 2;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/Jacket-bg.jpg');
}
.pants-div {
    
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/Pants_bg.png');
}
.short-div {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/Short_bg.png');
}
.tshirt-div {
    grid-column: span 2;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0,0.2)), url('Assets/Backgrounds/T-shirt_bg.png');
}
.banner {
    position: relative;
    background-color: #000000;
    color: white;
    display: flex;
    height: 8vh;
    width: 100vw;
    overflow: hidden;
}
.banner span {
    align-self: center;
    font-size: 2.5vh;
    position: absolute;
    left: 100vw;
    margin: 0 2vw;
    animation: rtol 20s linear infinite;
    white-space: nowrap;
 }
 @keyframes rtol {
    0%{
        left: 100vw;
    }
    100% {
        left: -100vw;
    }
 }
 .banner span:nth-child(1) {
    animation-delay: -18s;
 }
 .banner span:nth-child(2) {
    animation-delay: -16s;
 }
 .banner span:nth-child(3) {
    animation-delay: -14s;
 }
 .banner span:nth-child(4) {
    animation-delay: -12s;
 }
 .banner span:nth-child(5) {
    animation-delay: -10s;
 }
 .banner span:nth-child(6) {
    animation-delay: -8s;
 }
 .banner span:nth-child(7) {
    animation-delay: -6s;
 }
 .banner span:nth-child(8) {
    animation-delay: -4s;
 }
 .banner span:nth-child(9) {
    animation-delay: -2s;
 }
 .banner span:nth-child(10) {
    animation-delay: 0s;
 }

 #trending-div {
    display: flex;
    flex-direction: column;
 }
 #trending-div h1{
    margin: 5vh 5vw;
    font-size: 5vh;
 }

 .trending-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }
 .products-div {
    margin: 2vh;
    border: 0.5vh solid #000000;
    border-radius: 1vh;
    text-align: center;
    transition: box-shadow 0.2s ease-in;
 }
 .products-div:hover {
    box-shadow: 1vh 1vh black;
 }
 .products-div img {
    height: 34vh;
 }
 .product-name h3{
    margin: 0;
    font-size: 2.8vh;
 }
 .product-name span{
   font-size: 2.5vh;
 }
#view-all-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 2.5vh;
    font-weight: bold;
    margin: 5vh 0 0 0;
    transition: 0.2s ease-out;
}
#view-all-btn:hover {
    color: #ff0008;
}

#trending-div a {
   align-self: center;
}
 #brands {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 hr {
    align-items: center;
    margin: 5vh auto 5vh auto;
    width: 30vw;
 }
#brands h1 {
    font-size: 7vh;
 }
.brands-img {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0 0 10vh 0;
 }
.brands-img img {
    margin: 5vh;
 }
#logo1 {
    height: 18vh;
}
#logo2 {
    height: 15vh;
}
#logo3 {
    height: 15vh;
}
#logo4 {
    height: 12vh;
}
#logo5 {
    height: 20vh;
}
#logo6 {
    height: 8vh;
}
a {
    text-decoration: none;
    color: #000000;
}
footer {
    display: flex;
    flex-direction: column;
}
.footer2 {
    border-top: 0.2vh solid #000000;
    border-bottom: 0.2vh solid #000000;
    border-left: none;
    border-right: none;    
    display: flex;
    padding: 2vh 3vw;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
.footerlast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 1vw;
}
.support-div a {
    font-family: "Poppins", sans-serif;
    margin: 0 1.5vw;
    font-size: 2vh;
    color: #ffffff;
}
.logo-footer {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 1vh;
    align-items: center;
}
.logo-footer img {
    height: 8vh;
}
.footer-head {
    color:#631B1E;
    margin: 0;
    font-size: 4vh;
}
.footer-nav {
    font-family: "Poppins", sans-serif;
    font-size: 2.5vh;
    align-self: center;
}
.footer-nav a {
    margin: 0 1vh;
    color: black;
}
.payment-img {
    margin: 0;
    display: flex;
    width: 19.5vw;
    flex-wrap: wrap;
    align-items: center;
}
#img1 {
    margin: 0 1vh 1vh 0;
    height: 5vh;
}
#img2 {
    margin: 0 1vh 1vh 0;
    height: 4vh;
}

.socials-div h3 {
    margin: 0;
    font-size: 2.3vh;
}
#email-textbox {
    left: 0.1vw;
    color: white;
    height: 5vh;
    border: none;
    width: 100%;
    border-radius: 0.5vh;
    background-color: #000000;
    font-size: 1.5vh;
    padding: 0 1vw;
}
#email-textbox::placeholder {
    color: white;
 }
.fa-arrow-right {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    margin: 0 1vw 0 0;
}
.email-div {
    margin: 0.5vh 0;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}
.socials-icons {
    display: flex;
    justify-content: end;
}
.fa-brands {
    margin: 0 0.2vw;
    font-size: 4vh;
}


@media (max-width: 900px) {
    header {
        padding: 1.5vh 2vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header img {
        height: 5vh;
    }
    header nav li, header nav li a{
        font-size: 1.5vh;
        margin: 0 1vh;
    }
    header a:hover {
        color:#ffffff;
    }
    #home {
        background-image: url(Assets/Backgrounds/bg-portrait.png);
    } 
    .welcome-div {
        width: auto;
        margin: 15vh 5vw;
        align-self: center;
        text-align: center;
    }
    .welcome-div h1 {
        font-size: 5vh;
        color: #631B1E;
    }
    .welcome-div p {
        color: #000000;
        font-size: 2.5vh;
    }
    #collections {
        flex-direction: column;
        transform: translateX(2.5vw);
    }
    #collections h1 {
        font-size: 4vh;
        writing-mode: unset;
        transform: none;
    }
    .collections-parent-div {
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: repeat(3, 15vh);
    }
    .jacket-div {
        grid-column: span 2;
        grid-row: unset;
    }
    .collections-parent-div a h2 {
        font-size: 2.5vh;
    }
    .banner span {
        font-size: 1.5vh;
    }
    #trending-div h1{
        margin: 2.5vh 2.5vw;
        font-size: 3.5vh;
        text-align: center;
     }
    .products-div {
    margin: 1vh;
    }
    .products-div img {
    height: 20vh;
    }
    .product-name h3{
    font-size: 2vh;
    }
    .product-name span{
    font-size: 2vh;
    }
    #view-all-btn {
        font-size: 2vh;
    }
    #brands h1 {
        font-size: 4vh;
     }
    .brands-img {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
        margin: 0 0 10vh 0;
     }
    .brands-img img{
        margin: 4vw;
     }
    #logo1 {
        height: 7vh;
    }
    #logo2 {
        height: 6vh;
    }
    #logo3 {
        height: 7vh;
    }
    #logo4 {
        height: 6vh;
    }
    #logo5 {
        height: 10vh;
    }
    #logo6 {
        height: 3.5vh;
    }
    footer {
        flex-direction: column;
    }
    .logo-footer {
        display: flex;
        flex-direction: column;
        font-size: 1.5vh;
        text-align: center;
    }
    .logo-footer img {
        height: 10vh;
    }
  
    .footer-head {
        font-size: 3.5vh;
    }
    .support-div a {
        font-size: 2vh;
        top: 0vh;
    }
    .footer-nav {
        display: flex;
        font-size: 1.8vh;
        width: 100vw;
        order: 1;
        justify-content: center;
        margin: 2vw;
    }
    .payment-div {
        order: 3;
    }
    .socials-div {
        order: 2;
    }
    .socials-icons {
        justify-content: start;
    }
    .payment-img {
        width: 38vw;
        justify-content: center;
    }
    .support-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .support-div a{
        margin: 1vw;
        font-size: 1.5vh;
    }
    #img1 {
        height: 2.8vh;
    }
    #img2 {
        height: 2.5vh;
    }
    .socials-div h3 {
        font-size: 1.8vh;
    }
    #email-textbox {
        font-size: 1.5vh;
    }
    .fa-arrow-right {
        font-size: 1.5vh;
    }
    .fa-brands {
        font-size: 3vh;
    }
}

@media (max-width: 900px),(max-height: 400px){
    header nav li, header nav li a{
        font-size: 1.3vh;
    }
    .welcome-div h1 {
        font-size: 7vh;
    }
    .banner {
        height: 3vh;
    }
    .banner span {
        font-size: 1.3vh;
    }
    .footer-head {
        font-size: 3vh;
    }
    .footer-nav {
        display: flex;
        font-size: 1.8vh;
        width: 100vw;
        order: 1;
        justify-content: center;
        margin: 2vw;
    }
    .payment-div {
        order: 3;
    }
    .socials-div {
        order: 2;
    }
    .socials-icons {
        justify-content: start;
    }
    .payment-img {
        width: 30vw;
    }
    #img1 {
        height: 2.5vh;
    }
    #img2 {
        height: 2vh;
    }
    .socials-div h3 {
        font-size: 1.5vh;
    }
    #email-textbox {
        font-size: 1.5vh;
    }
    .fa-arrow-right {
        font-size: 1.3vh;
    }
    .support-div a{
        margin: 1.5vw;
        font-size: 1.3vh;
    }
}